body {
	background-color: #232323;
	margin: 0;
	font-family: "Monsterrat", "Avenir";
}

.square {
	width: 30%;
	background: purple;
	padding-top: 30%; 
	float: left;
	margin: 1.66%;
}

#container {
	margin: 0 auto;
	max-width: 600px;
}

h1 {
	text-align: center; 
	font-weight: normal;
	color: white;
	background: steelblue;
	margin: 0;
	text-transform: uppercase;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
	background: blue;
}